<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
         point="com.jrockit.mc.core.formpage">
      <formPage
            class="com.jrockit.mc.memleak.ui.trend.TrendTab"
            hostEditorId="com.jrockit.mc.memleak.ui.editor"
            icon="icons/output_general.gif"
            id="com.jrockit.mc.memleak.ui.trend.TrendTab"
            title="%TREND_TAB_TITLE">
      </formPage>

      <formPage
            class="com.jrockit.mc.memleak.ui.types.TypesTab"
            hostEditorId="com.jrockit.mc.memleak.ui.editor"
            icon="icons/typesgraph_C.gif"
            id="com.jrockit.mc.memleak.ui.types.TypesTab"
            title="%TYPE_GRAPH_TAB_TITLE">
      </formPage>
      
      <formPage
            class="com.jrockit.mc.memleak.ui.instances.InstancesTab"
            hostEditorId="com.jrockit.mc.memleak.ui.editor"
            icon="icons/instancesgraph.gif"
            id="com.jrockit.mc.memleak.ui.instances.InstancesTab"
            title="%INSTANCE_GRAPH_TAB_TITLE">
      </formPage>
      
      <formPage
            class="com.jrockit.mc.memleak.ui.allocation.TraceTab"
            hostEditorId="com.jrockit.mc.memleak.ui.editor"
            icon="icons/debug_callstack.gif"
            id="com.jrockit.mc.memleak.ui.allocation.TraceTab"
            title="%ALLOCATION_TAB_TITLE">
      </formPage>
   </extension>

<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.jrockit.mc.memleak.ui.editor">
         <menu
               icon="icons/memleak.png"
               id="com.jrockit.mc.memleak.ui.editor.overview"
               label="%GENERAL_TAB_MENU_LABEL">
            <command
                  commandId="com.jrockit.mc.ui.formpage.default.command"
                  icon="icons/output_general.gif"
                  id="trend"
                  label="%TREND_TAB_TITLE">
               <parameter
                     name="formpage"
                     value="com.jrockit.mc.memleak.ui.trend.TrendTab">
               </parameter>
            </command>
            <command
                  commandId="com.jrockit.mc.ui.formpage.default.command"
                  icon="icons/typesgraph_C.gif"
                  id="typegraph"
                  label="%TYPE_GRAPH_TAB_TITLE">
               <parameter
                     name="formpage"
                     value="com.jrockit.mc.memleak.ui.types.TypesTab">
               </parameter>
            </command>
            <command
                  commandId="com.jrockit.mc.ui.formpage.default.command"
                  icon="icons/instancesgraph.gif"
                  id="instancegraph"
                  label="%INSTANCE_GRAPH_TAB_TITLE">
               <parameter
                     name="formpage"
                     value="com.jrockit.mc.memleak.ui.instances.InstancesTab">
               </parameter>
            </command>
            <command
                  commandId="com.jrockit.mc.ui.formpage.default.command"
                  icon="icons/debug_callstack.gif"
                  id="alloctrace"
                  label="%ALLOCATION_TAB_TITLE">
               <parameter
                     name="formpage"
                     value="com.jrockit.mc.memleak.ui.allocation.TraceTab">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.types?after=additions">
            <command
                  commandId="com.jrockit.mc.memleak.ui.types.show"
                  id="showtype"
                  icon="icons/typesgraph_C.gif"
                  label="%CMD_ADD_TO_TYPE_GRAPH_LABEL"
                  tooltip="%CMD_ADD_TO_TYPE_GRAPH_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.list.all"
                  id="listInstances"
                  label="%CMD_LIST_ALL_INSTANCES_LABEL"
                  tooltip="%CMD_LIST_ALL_INSTANCES_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.list.largestArrays"
                  id="largestArrays"
                  icon="icons/array_16.png"
                  label="%CMD_LIST_LARGEST_ARRAYS_LABEL"
                  tooltip="%CMD_LIST_LARGEST_ARRAYS_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.allocation.trace"
                  id="traceAllocations"
                  icon="icons/debug_callstack.gif"
                  label="%CMD_TRACE_ALLOCATIONS_LABEL"
                  tooltip="%CMD_TRACE_ALLOCATIONS_TOOLTIP">
            </command>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.classloader?after=additions">
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.show.classloader"
                  id="showinstance.classloader"
                  icon="icons/instancesgraph.gif"
                  label="%CMD_ADD_TO_INSTANCE_GRAPH_LABEL"
                  tooltip="%CMD_ADD_TO_INSTANCE_GRAPH_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.inspect.classloader"
                  icon="icons/debug_watch.gif"
                  id="inspectinstance.classloader"
                  label="%CMD_INSPECT_INSTANCE_LABEL"
                  tooltip="%CMD_INSPECT_INSTANCE_TOOLTIP">
            </command>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.random.instance?after=additions">
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.expand.random"
                  id="expandinstance.random"
                  icon="icons/back.gif"
                  label="%CMD_EXPAND_TO_ROOT_LABEL"
                  tooltip="%CMD_EXPAND_TO_ROOT_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.show.random"
                  id="showinstance.random"
                  icon="icons/instancesgraph.gif"
                  label="%CMD_ADD_TO_INSTANCE_GRAPH_LABEL"
                  tooltip="%CMD_ADD_TO_INSTANCE_GRAPH_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.inspect.random"
                  icon="icons/debug_watch.gif"
                  id="inspectinstance.random"
                  label="%CMD_INSPECT_INSTANCE_LABEL"
                  tooltip="%CMD_INSPECT_INSTANCE_TOOLTIP">
            </command>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.trend.table?after=group.top">
            <command
                  commandId="com.jrockit.mc.memleak.ui.types.show"
                  id="showtype"
                  icon="icons/typesgraph_C.gif"
                  label="%CMD_ADD_TO_TYPE_GRAPH_LABEL"
                  tooltip="%CMD_ADD_TO_TYPE_GRAPH_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.list.all"
                  id="listInstances"
                  label="%CMD_LIST_ALL_INSTANCES_LABEL"
                  tooltip="%CMD_LIST_ALL_INSTANCES_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.list.largestArrays"
                  id="largestArrays"
                  icon="icons/array_16.png"
                  label="%CMD_LIST_LARGEST_ARRAYS_LABEL"
                  tooltip="%CMD_LIST_LARGEST_ARRAYS_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.allocation.trace"
                  id="traceAllocations"
                  icon="icons/debug_callstack.gif"
                  label="%CMD_TRACE_ALLOCATIONS_LABEL"
                  tooltip="%CMD_TRACE_ALLOCATIONS_TOOLTIP">
            </command>
            <menu
                  id="com.jrockit.mc.memleak.ui.random.instance"
                  label="%SUBMENU_WITH_RANDOM_INSTANCE_LABEL"
                  tooltip="%SUBMENU_WITH_RANDOM_INSTANCE_TOOLTIP">
            </menu>
            <menu
                  id="com.jrockit.mc.memleak.ui.classloader"
                  label="%SUBMENU_WITH_CLASS_LOADER_LABEL"
                  tooltip="%SUBMENU_WITH_CLASS_LOADER_TYPE_TOOLTIP">
            </menu>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.types.graph?after=group.top">
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.list.all"
                  id="listInstances"
                  label="%CMD_LIST_ALL_INSTANCES_LABEL"
                  tooltip="%CMD_LIST_ALL_INSTANCES_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.list.largestArrays"
                  id="largestArrays"
                  icon="icons/array_16.png"
                  label="%CMD_LIST_LARGEST_ARRAYS_LABEL"
                  tooltip="%CMD_LIST_LARGEST_ARRAYS_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.allocation.trace"
                  id="traceAllocations"
                  icon="icons/debug_callstack.gif"
                  label="%CMD_TRACE_ALLOCATIONS_LABEL"
                  tooltip="%CMD_TRACE_ALLOCATIONS_TOOLTIP">
            </command>
            <menu
                  id="com.jrockit.mc.memleak.ui.random.instance"
                  label="%SUBMENU_WITH_RANDOM_INSTANCE_LABEL"
                  tooltip="%SUBMENU_WITH_RANDOM_INSTANCE_TOOLTIP">
            </menu>
            <menu
                  id="com.jrockit.mc.memleak.ui.classloader"
                  label="%SUBMENU_WITH_CLASS_LOADER_LABEL"
                  tooltip="%SUBMENU_WITH_CLASS_LOADER_TYPE_TOOLTIP">
            </menu>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.types.tree?after=group.top">
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.list.all"
                  id="listInstances"
                  label="%CMD_LIST_ALL_INSTANCES_LABEL"
                  tooltip="%CMD_LIST_ALL_INSTANCES_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.list.largestArrays"
                  id="largestArrays"
                  icon="icons/array_16.png"
                  label="%CMD_LIST_LARGEST_ARRAYS_LABEL"
                  tooltip="%CMD_LIST_LARGEST_ARRAYS_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.allocation.trace"
                  id="traceAllocations"
                  icon="icons/debug_callstack.gif"
                  label="%CMD_TRACE_ALLOCATIONS_LABEL"
                  tooltip="%CMD_TRACE_ALLOCATIONS_TOOLTIP">
            </command>
            <menu
                  id="com.jrockit.mc.memleak.ui.random.instance"
                  label="%SUBMENU_WITH_RANDOM_INSTANCE_LABEL"
                  tooltip="%SUBMENU_WITH_RANDOM_INSTANCE_TOOLTIP">
            </menu>
            <menu
                  id="com.jrockit.mc.memleak.ui.classloader"
                  label="%SUBMENU_WITH_CLASS_LOADER_LABEL"
                  tooltip="%SUBMENU_WITH_CLASS_LOADER_TYPE_TOOLTIP">
            </menu>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.instances.graph?after=group.top">
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.inspect"
                  icon="icons/debug_watch.gif"
                  id="inspectinstance"
                  label="%CMD_INSPECT_INSTANCE_LABEL"
                  tooltip="%CMD_INSPECT_INSTANCE_TOOLTIP">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
                  </reference>
               </visibleWhen>
            </command>
            <menu
                  icon="icons/class_16.png"
                  id="com.jrockit.mc.memleak.ui.types"
                  label="%SUBMENU_WITH_TYPE_LABEL"
                  tooltip="%SUBMENU_WITH_TYPE_TOOLTIP">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
                  </reference>
               </visibleWhen>
            </menu>
            <menu
                  id="com.jrockit.mc.memleak.ui.classloader"
                  label="%SUBMENU_WITH_CLASS_LOADER_LABEL"
                  tooltip="%SUBMENU_WITH_CLASS_LOADER_INSTANCE_TOOLTIP">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
                  </reference>
               </visibleWhen>
            </menu>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.instances.tree?after=group.top">
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.inspect"
                  icon="icons/debug_watch.gif"
                  id="inspectinstance"
                  label="%CMD_INSPECT_INSTANCE_LABEL"
                  tooltip="%CMD_INSPECT_INSTANCE_TOOLTIP">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
                  </reference>
               </visibleWhen>
            </command>
            <menu
                  icon="icons/class_16.png"
                  id="com.jrockit.mc.memleak.ui.types"
                  label="%SUBMENU_WITH_TYPE_LABEL"
                  tooltip="%SUBMENU_WITH_TYPE_TOOLTIP">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
                  </reference>
               </visibleWhen>
            </menu>
            <menu
                  id="com.jrockit.mc.memleak.ui.classloader"
                  label="%SUBMENU_WITH_CLASS_LOADER_LABEL"
                  tooltip="%SUBMENU_WITH_CLASS_LOADER_INSTANCE_TOOLTIP">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
                  </reference>
               </visibleWhen>
            </menu>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.instances.list?after=group.top">
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.show"
                  id="showinstance"
                  icon="icons/instancesgraph.gif"
                  label="%CMD_ADD_TO_INSTANCE_GRAPH_LABEL"
                  tooltip="%CMD_ADD_TO_INSTANCE_GRAPH_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.inspect"
                  icon="icons/debug_watch.gif"
                  id="inspectinstance"
                  label="%CMD_INSPECT_INSTANCE_LABEL"
                  tooltip="%CMD_INSPECT_INSTANCE_TOOLTIP">
            </command>
            <menu
                  icon="icons/class_16.png"
                  id="com.jrockit.mc.memleak.ui.types"
                  label="%SUBMENU_WITH_TYPE_LABEL"
                  tooltip="%SUBMENU_WITH_TYPE_TOOLTIP">
            </menu>
            <menu
                  id="com.jrockit.mc.memleak.ui.classloader"
                  label="%SUBMENU_WITH_CLASS_LOADER_LABEL"
                  tooltip="%SUBMENU_WITH_CLASS_LOADER_INSTANCE_TOOLTIP">
            </menu>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.instances.inspect?after=group.top">
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.show"
                  id="showinstance"
                  icon="icons/instancesgraph.gif"
                  label="%CMD_ADD_TO_INSTANCE_GRAPH_LABEL"
                  tooltip="%CMD_ADD_TO_INSTANCE_GRAPH_TOOLTIP">
            </command>
            <command
                  commandId="com.jrockit.mc.memleak.ui.instances.inspect"
                  icon="icons/debug_watch.gif"
                  id="inspectinstance"
                  label="%CMD_INSPECT_INSTANCE_LABEL"
                  tooltip="%CMD_INSPECT_INSTANCE_TOOLTIP">
            </command>
            <menu
                  icon="icons/class_16.png"
                  id="com.jrockit.mc.memleak.ui.types"
                  label="%SUBMENU_WITH_TYPE_LABEL"
                  tooltip="%SUBMENU_WITH_TYPE_TOOLTIP">
            </menu>
            <menu
                  id="com.jrockit.mc.memleak.ui.classloader"
                  label="%SUBMENU_WITH_CLASS_LOADER_LABEL"
                  tooltip="%SUBMENU_WITH_CLASS_LOADER_INSTANCE_TOOLTIP">
            </menu>
      </menuContribution>
      <menuContribution
      	locationURI="popup:com.jrockit.mc.memleak.ui.allocation.traces?after=group.top">
            <menu
                  icon="icons/class_16.png"
                  id="com.jrockit.mc.memleak.ui.types"
                  label="%SUBMENU_WITH_TYPE_LABEL"
                  tooltip="%SUBMENU_WITH_TYPE_TOOLTIP">
            </menu>
            <menu
                  id="com.jrockit.mc.memleak.ui.classloader"
                  label="%SUBMENU_WITH_CLASS_LOADER_LABEL"
                  tooltip="%SUBMENU_WITH_CLASS_LOADER_INSTANCE_TOOLTIP">
            </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.jrockit.mc.rjmx.core.connections.internal.ConnectionDescriptorNode"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakEditorInputAdapterFactory">
         <adapter type="com.jrockit.mc.memleak.ui.IMemleakEditorInput"/>
      </factory>
      <factory
            adaptableType="com.jrockit.memleak.util.IObjectInfoHolder"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakInstanceAdapterFactory">
         <adapter type="com.jrockit.memleak.IObjectInfo"/>
         <adapter type="com.jrockit.memleak.IClassInfo"/>
         <adapter type="com.jrockit.memleak.INamedType"/>
         <adapter type="com.jrockit.mc.common.IMCType"/>
      </factory>
      <factory
            adaptableType="com.jrockit.memleak.util.IClassInfoHolder"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakTypeAdapterFactory">
         <adapter type="com.jrockit.memleak.IClassInfo"/>
         <adapter type="com.jrockit.memleak.INamedType"/>
         <adapter type="com.jrockit.mc.common.IMCType"/>
      </factory>
      <factory
            adaptableType="com.jrockit.memleak.IClassInfo"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakTypeAdapterFactory">
         <adapter type="com.jrockit.memleak.INamedType"/>
         <adapter type="com.jrockit.mc.common.IMCType"/>
      </factory>
      <factory
            adaptableType="com.jrockit.memleak.util.INamedTypeHolder"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakNamedTypeAdapterFactory">
         <adapter type="com.jrockit.memleak.INamedType"/>
         <adapter type="com.jrockit.mc.common.IMCType"/>
      </factory>
      <factory
            adaptableType="com.jrockit.memleak.INamedType"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakNamedTypeAdapterFactory">
         <adapter type="com.jrockit.mc.common.IMCType"/>
      </factory>
      <factory
            adaptableType="com.jrockit.memleak.ILocation"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakMethodAdapterFactory">
         <adapter type="com.jrockit.mc.common.IMCMethod"/>
         <adapter type="com.jrockit.mc.common.IMCFrame"/>
      </factory>
      <factory
            adaptableType="com.jrockit.memleak.util.IMethodInfoHolder"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakMethodAdapterFactory">
         <adapter
               type="com.jrockit.mc.common.IMCMethod">
         </adapter>
      </factory>
      <factory
            adaptableType="com.jrockit.memleak.IMethodInfo"
            class="com.jrockit.mc.memleak.ui.adapters.MemleakMethodAdapterFactory">
         <adapter
               type="com.jrockit.mc.common.IMCMethod">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.jrockit.mc.memleak.ui.MemleakEditor"
            default="false"
            icon="icons/memleak.png"
            id="com.jrockit.mc.memleak.ui.editor"
            name="%MEMLEAK_EDITOR_NAME">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.jrockit.mc.ui.preferences.MissionControlPage"
            class="com.jrockit.mc.memleak.ui.preferences.GeneralPage"
            id="com.jrockit.mc.memleak.ui.preferences.GeneralPage"
            name="%MEMLEAK_PREFS_NAME"/>
      <page
            category="com.jrockit.mc.memleak.ui.preferences.GeneralPage"
            class="com.jrockit.mc.memleak.ui.preferences.TrendPage"
            id="com.jrockit.mc.memleak.ui.preferences.TrendPage"
            name="%TREND_PREFS_NAME"/>
      <page
            category="com.jrockit.mc.memleak.ui.preferences.GeneralPage"
            class="com.jrockit.mc.memleak.ui.preferences.GraphPage"
            id="com.jrockit.mc.memleak.ui.preferences.GraphPage"
            name="%GRAPHS_PREFS_NAME"/>
      <page
            category="com.jrockit.mc.memleak.ui.preferences.GeneralPage"
            class="com.jrockit.mc.memleak.ui.preferences.InstancePage"
            id="com.jrockit.mc.memleak.ui.preferences.InstancePage"
            name="%INSTANCE_PREFS_NAME"/>
      <page
            category="com.jrockit.mc.memleak.ui.preferences.GeneralPage"
            class="com.jrockit.mc.memleak.ui.preferences.CommunicationPage"
            id="com.jrockit.mc.memleak.ui.preferences.CommunicationPage"
            name="%COMMUNICATION_PREFS_NAME"/>
      <page
            category="com.jrockit.mc.memleak.ui.preferences.GeneralPage"
            class="com.jrockit.mc.memleak.ui.preferences.AllocationPage"
            id="com.jrockit.mc.memleak.ui.preferences.AllocationPage"
            name="%ALLOCATION_PREFS_NAME"/>
   </extension>
   
    <extension
       point="com.jrockit.mc.components.ui.userInterface">
    <userInterface
          containerIdentifier="com.jrockit.mc.memleak.ui.editor"
          userInterfaceFile="/userInterface.xml">
    </userInterface>
 	</extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.jrockit.mc.memleak.ui.preferences.Initializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.jrockit.mc.memleak.ui.adapters.MemleakEditorInputAdapterFactory"
            id="com.jrockit.mc.memleak.ui.editorInputFactory"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml"/>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="trend_contexts.xml"
            plugin="com.jrockit.mc.memleak.ui.trend"/>
      <contexts
            file="types_contexts.xml"
            plugin="com.jrockit.mc.memleak.ui.types"/>
      <contexts
            file="instances_contexts.xml"
            plugin="com.jrockit.mc.memleak.ui.instances"/>
      <contexts
            file="allocation_contexts.xml"
            plugin="com.jrockit.mc.memleak.ui.allocation"/>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.jrockit.mc.memleak.ui.handlers.StartMemleakHandler"
            commandId="com.jrockit.mc.memleak.ui.startMemleak">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <reference
                     definitionId="com.jrockit.mc.rjmx.core.allAdaptsToIConnectionDescriptorAndSupportsMemleak">
               </reference>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.handlers.StartMemleakHandler"
            commandId="com.jrockit.mc.memleak.ui.toolbarStartMemleak">
         <enabledWhen>
            <test
                  property="com.jrockit.mc.browser.browserViewSelectionPropertyTester.selectionHasMemleakSupport"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.types.ShowInTypeGraphHandler"
            commandId="com.jrockit.mc.memleak.ui.types.show">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.list.ListInstancesHandler"
            commandId="com.jrockit.mc.memleak.ui.instances.list.all">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.list.LargestArraysHandler"
            commandId="com.jrockit.mc.memleak.ui.instances.list.largestArrays">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.allocation.TraceAllocationsHandler"
            commandId="com.jrockit.mc.memleak.ui.allocation.trace">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyClassInfos">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.ShowInInstanceGraphHandler"
            commandId="com.jrockit.mc.memleak.ui.instances.show">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.ShowInInstanceGraphHandler:useClassLoader"
            commandId="com.jrockit.mc.memleak.ui.instances.show.classloader">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.ShowInInstanceGraphHandler:useRandomInstance"
            commandId="com.jrockit.mc.memleak.ui.instances.show.random">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.ShowInInstanceGraphHandler:useRandomInstance,expandToRoot"
            commandId="com.jrockit.mc.memleak.ui.instances.expand.random">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.inspect.ShowInInspectorHandler"
            commandId="com.jrockit.mc.memleak.ui.instances.inspect">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.inspect.ShowInInspectorHandler:useClassLoader"
            commandId="com.jrockit.mc.memleak.ui.instances.inspect.classloader">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.jrockit.mc.memleak.ui.instances.inspect.ShowInInspectorHandler:useRandomInstance"
            commandId="com.jrockit.mc.memleak.ui.instances.inspect.random">
         <enabledWhen>
            <reference
                  definitionId="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            helpContextId="com.jrockit.mc.memleak.ui.action_start"
            id="com.jrockit.mc.memleak.ui.startMemleak"
            name="%ACTION_START_MEMLEAK_LABEL">
      </command>
      <command
            helpContextId="com.jrockit.mc.memleak.ui.action_start"
            id="com.jrockit.mc.memleak.ui.toolbarStartMemleak"
            name="%ACTION_START_MEMLEAK_LABEL">
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.types.show"
            name="%CMD_ADD_TO_TYPE_GRAPH_LABEL">
         <commandParameter
               id="clear"
               name="clear"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show"
               name="show"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.list.all"
            name="%CMD_LIST_ALL_INSTANCES_LABEL">
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.list.largestArrays"
            name="%CMD_LIST_LARGEST_ARRAYS_LABEL">
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.allocation.trace"
            name="%CMD_TRACE_ALLOCATIONS_LABEL">
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.show"
            name="%CMD_ADD_TO_INSTANCE_GRAPH_LABEL">
         <commandParameter
               id="clear"
               name="clear"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show"
               name="show"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.show.classloader"
            name="%CMD_ADD_TO_INSTANCE_GRAPH_LABEL">
         <commandParameter
               id="clear"
               name="clear"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show"
               name="show"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.show.random"
            name="%CMD_ADD_TO_INSTANCE_GRAPH_LABEL">
         <commandParameter
               id="clear"
               name="clear"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show"
               name="show"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.expand.random"
            name="%CMD_EXPAND_TO_ROOT_LABEL">
         <commandParameter
               id="clear"
               name="clear"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show"
               name="show"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.inspect"
            name="%CMD_INSPECT_INSTANCE_LABEL">
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.inspect.classloader"
            name="%CMD_INSPECT_INSTANCE_LABEL">
      </command>
      <command
            id="com.jrockit.mc.memleak.ui.instances.inspect.random"
            name="%CMD_INSPECT_INSTANCE_LABEL">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.jrockit.mc.memleak.ui.startMemleak"
               icon="icons/memleak.png"
               style="push"
               tooltip="%ACTION_START_MEMLEAK_TOOLTIP">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <reference
                        definitionId="com.jrockit.mc.rjmx.core.allAdaptsToIConnectionDescriptorOrAreFolders">
                  </reference>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.jrockit.mc.browser.views.JRockitBrowserView?after=additions">
         <command
               commandId="com.jrockit.mc.memleak.ui.toolbarStartMemleak"
               icon="icons/memleak.png"
               style="push"
               tooltip="%ACTION_START_MEMLEAK_TOOLTIP">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.jrockit.mc.browser.views.JRockitBrowserView?after=additions">
         <command
               commandId="com.jrockit.mc.memleak.ui.toolbarStartMemleak"
               icon="icons/memleak.png"
               style="push"
               tooltip="%ACTION_START_MEMLEAK_TOOLTIP">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.jrockit.mc.components.ui.main"
            class="com.jrockit.mc.memleak.ui.bird.BirdsView"
            icon="icons/overview-16.png"
            id="com.jrockit.mc.memleak.ui.bird"
            name="%VIEW_BIRDS_EYE_VIEW_TITLE"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.jrockit.mc.components.ui.main"
            class="com.jrockit.mc.memleak.ui.instances.list.InstanceListView"
            icon="icons/array_16.png"
            id="com.jrockit.mc.memleak.ui.instances.list"
            name="%VIEW_INSTANCES_TITLE"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.jrockit.mc.components.ui.main"
            class="com.jrockit.mc.memleak.ui.instances.inspect.InspectView"
            icon="icons/debug_watch.gif"
            id="com.jrockit.mc.memleak.ui.instances.inspect"
            name="%VIEW_INSPECTOR_TITLE"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.jrockit.mc.ui.idesupport.StandardPerspective">
         <view
               closeable="true"
               id="com.jrockit.mc.memleak.ui.instances.list"
               moveable="true"
               relationship="stack"
               relative="com.jrockit.mc.ui.idesupport.tallFolder"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="true"
               id="com.jrockit.mc.memleak.ui.bird"
               moveable="true"
               ratio="0.75"
               relationship="bottom"
               relative="com.jrockit.mc.ui.idesupport.tallFolder"
               visible="false">
         </view>
         <viewShortcut
               id="com.jrockit.mc.memleak.ui.bird">
         </viewShortcut>
         <viewShortcut
               id="com.jrockit.mc.memleak.ui.instances.list">
         </viewShortcut>
         <viewShortcut
               id="com.jrockit.mc.memleak.ui.instances.inspect">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="com.jrockit.mc.memleak.ui.OnlyNamedTypes">
         <with variable="activeMenuSelection">
	        <iterate operator="and" ifEmpty="false">
		       <adapt type="com.jrockit.memleak.INamedType"/>
	        </iterate>
         </with>
      </definition>
      <definition id="com.jrockit.mc.memleak.ui.OnlyClassInfos">
         <with variable="activeMenuSelection">
	        <iterate operator="and" ifEmpty="false">
		       <adapt type="com.jrockit.memleak.IClassInfo"/>
	        </iterate>
         </with>
      </definition>
      <definition id="com.jrockit.mc.memleak.ui.OnlyObjectInfos">
         <with variable="activeMenuSelection">
	        <iterate operator="and" ifEmpty="false">
		       <adapt type="com.jrockit.memleak.IObjectInfo"/>
	        </iterate>
         </with>
      </definition>
   </extension>
   
    <extension
         point="com.jrockit.mc.commands.command">
      <command
            class="com.jrockit.mc.memleak.ui.StartMemleakCommand"
            description="Starts the Memory Leak Detector."
            identifier="startmemleak"
            name="Start Memleak"
            category="Scripting" 
 	    userInterface="true"
	>
         <string
               description="the host to connect to."
               exampleValue="localhost"
               identifier="host"
               name="Host"
               optional="true">
         </string>
         <number
               description="the port to connect to."
               exampleValue="7091"
               identifier="port"
               name="Port"
               optional="true">
         </number>
         <boolean
               description="use the RMP-protocol for communictaion (JDK 1.4)."
               exampleValue="false"
               identifier="rmp"
               name="Use RMP"
               optional="true">
         </boolean>
         <string
               description="the user name to use for authentication."
               exampleValue="myuser"
               identifier="username"
               name="User Name"
               optional="true">
         </string>
         <string
               description="the password to use for authentication."
               exampleValue="mypassword"
               identifier="password"
               name="Password"
               optional="true">
         </string>
      </command>
   </extension>
    
</plugin>
